<% if @user.errors.any? %>
        <%= @user.errors.count %>errors prohibited this book from being saved:<br>
        <% @user.errors.full_messages.each do |message| %>
        <div class = "devise-error-messages"><%= message %></div><br>
        <% end %>
        <% end %>